body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
/* TYPHOGRAPHY */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  img{
    width: 100%;
  }
  p{
    font-size: 17px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  .link{
    position: relative;
    color: #ffffff;
    border: 1px solid #c0c0c0;
    display: inline-block;
    min-width: 140px;
    padding: 5px 0px;
    margin: 10px auto;
    text-align: center;
    transition: .2s ease;
    z-index: 2;
    overflow: hidden;
    font-weight: 700;
  }
  .link:hover:before{
   left: -40px;
  }
  .link:hover{
    color: #c2c2c2;
    border-color: #c2c2c2;
  }
  .heading{
    color: #2293b6;
    font-weight: bold;
  }
  h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    text-align: left;
  }

  /* Media Query */
  @media (max-width: 992px) {
    body header #nav-toggle {
      visibility: visible;
      display: inline-block;
    }
    body header .main-menu .menu{
    top: 89px;
    display: block;
    width: 100%;
    height: 0px;
    position: absolute;
    overflow: hidden;
    left: 0;
    text-align: center;
    background-color: #ffffff;
    transition:  .3s ease;
    }
    body header .notifications{
      top: 33px;
      right: 40px;
      position: inherit;
    }
    body header .main-menu .menu.active{
        padding: 0px 0px 30px 0px;
        height: 300px;
        visibility: visible;
    }
    body header .main-menu .menu li{ 
        line-height: 60px;
    }
    body header .main-menu .menu li a::before{
      display: inline-block;
    }
    body header .main-menu .menu li:hover::before{
    transform: scaleX(0);
    }
    body .speaker-section .speaker-text{
      padding: 0px 0px 20px 0px;
    }
    body .course-section .tab-pane {
      padding: 0px;
      margin-left: 0px;
  }
    
  }
  @media(max-width:768px){
    body #preloader{
      background-size: 25px;
    }
    body .about-section .reverse{
      flex-wrap: wrap-reverse;
    }
    body .video-banner .content{
      padding: 100px 5%;
    }
  body .banner-part .banner-text h1{
    margin-top: 50px;
  }
  body .banner-part .banner-text .link{
    bottom: -50px;
  }
  body .accordion-button::after{
  width: 20px !important;
  }
  body .subscribe-part input[type='email'] {
    min-width: 205px;
  }
  body .contact-form .contact-info {
    padding: 35px 10px 0px 10px;
  }
  body .contact-form .contact-card {
    padding: 50px 10px 0px 10px;
    }
  }

  @media(max-width:576px){
    body .subscribe-part input[type='email'] {
      max-width: 205px;
    }
    body #top-scroll{
      font-size: 16px;
      width: 40px;
      height: 40px;
    }
  }

  /*   Preloader    */
#preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  z-index: 99999999999;
}
/* Top-scroll */
#top-scroll{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #0e82a5c2;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;
}
#top-scroll.visible{
  opacity: 1;
  visibility: visible;
}

/* Header-part */
header {
  background-color: #ffffff;
  height: 90px;
  margin-bottom: 2px;
  text-transform: capitalize;
  z-index: 99999;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo{
  color: #2293b6;
  font-family: cursive;
}
header  .main-menu .menu{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}
header .main-menu .menu li{
  margin: 0px 15px;
}
header .main-menu .menu li a{
  position: relative;
}
header .main-menu .menu li a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #2293b6;
}
header .main-menu .menu li a:hover::before{
  transform: scaleX(1);
  transition: all .3s ease;
}
header .main-menu .menu li a.active::before{
  transform: scaleX(1);
  transition: all .3s ease;
}
header .main-menu .menu li a{
  padding: 8px 5px 5px 5px;
  color: #2293b6;
  font-weight: 600;
  transition: all .2s ease;
  border-bottom: 3px solid #00000000;
}
/* header .main-menu .menu li .active{
  background-color: #60f000;
  color: #000000;
} */

  header .container .logo h3 {
    text-transform: capitalize;
    display: inline-block;
    line-height: 85px;
    font-weight: bold;
  }
  header.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999999;
    box-shadow: 0px 1px 5px 0px rgba(129, 129, 129, 0.445);
    transition: 0.3s ease;
  }
  header #nav-toggle{
    float: right;
    width: 35px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
    display: none;
  }
  #nav-toggle span {
    position: relative;
    height: 3px;
    width: 32px;
    background-color: #2293b6;
    display: inline-block;
    margin: auto;
    margin-left: 3px;
    z-index: -1;
  }
  #nav-toggle.active span {
    background: transparent;
  }
  header .container.sticky #nav-toggle.active span {
    background: transparent;
  }

  #nav-toggle span::before,
  #nav-toggle span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    transition: 0.3s ease;
    background-color: #2293b6;
  }
  #nav-toggle.active span::before {
    transform: rotate(45deg);
    width: 100%;
  }
  #nav-toggle span::before {
    transform: translateY(-7px);
  }
  #nav-toggle.active span::after {
    transform: rotate(135deg);
    width: 100%;
  }

  #nav-toggle span::after {
    transform: translateY(7px);
  }
  /* banner-part */
  .banner-part{
    position: relative;
    padding: 0px;
    margin: 0px 0px;
  }
  .banner-part .banner-text{
    top: 20px;
    position: absolute;
  }
  .banner-part .banner-text{
    color: #ffffff;
  }
  .banner-part .banner-text h1{
    margin-top: 100px;
  }
  .banner-part .banner-text .link{
    position: absolute;
    bottom: -80px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid;
  }

  .banner-part .background-bg{
      position: relative;
  }
  .banner-part .background-bg video{
    width: 100%;
    min-height: 600px;
    object-fit: cover;
  }
  .banner-part .background-bg::before{
    position: absolute;
    top: 1px;
    left: 0px;
    content: '';
    width: 100%;
    height: 99%;
    background-color: #2294b6ad;
  }
  /* service-section */
  .service-section{
    position: relative;
    min-height: 500px;
  }
  .service-section .top-text{
    margin-top: 30px;
   text-align: center;
  }
.service-section .top-text p{
    text-transform: uppercase;
    color: #d0d0d0;
    font-weight: bold;
    font-size: 14px;
  }
  .service-section .top-text h1{
    line-height: 10px;
    text-align: center;
    font-weight: bold;
    color: #2293b6;
  }
  .service-section .slider-part{
    margin-top: 50px;
  }
  .service-section .slider-part .item{
    padding: 50px 30px 0px 30px;
    text-align: center;
    min-height: 340px;
    margin: 20px auto;
    border: #7d7d7d;
    box-shadow: 0px 0px 15px 0px #ebebeb;
    border-radius: 20px;
    transition: all .2s ease;
  }
  .service-section .slider-part .item p{
    color: #7d7d7d;
  }
  .service-section .slider-part .item img{
    width: 70px;
    padding-bottom: 30px;
    margin: 0 auto; 
  }
  .service-section .slider-part .item:hover{
    box-shadow: 0px 0px 15px 0px #c1c0c0;
  }
  .service-section .slider-part .item h5{
    font-weight: bold;
    margin-bottom: 10px;
  }
  .owl-theme .owl-dots .owl-dot span {
    background: #e8e8e8 !important;
    }
    .owl-theme .owl-dots .owl-dot.active span {
      background: #39a2ae !important;
    }

/* about-section */
.about-section{
  padding: 50px 0px 20px 0px;
  min-height: 300px;
}
.about-section h2{
  font-weight: bold;
}
.link-box{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;
} 
.link-box .link{
  padding: 8px 20px;
  margin: 20px 20px 10px 0px;
  color: #7d7d7d;
  border-color: #dadada;
  
} 
.link-box .link:hover{
  color: #0f647e;
  box-shadow: 1px 1px 25px 5px rgba(119, 113, 113, 0.426);
} 
.link-box .blue-bg{
  margin-bottom: 10px;
  background-color: #2293b6;
  color: #ffffff;
} 
.link-box .blue-bg:hover{
  color: #e2e2e2;
}
.client-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.clients-id{
  margin-left: -5px;
  
}
.clients-id img{
  width: 48px;
  height: 48px;
 border-radius: 50px;
 border: 2px solid #ffffff;
 object-fit: cover;
}
.client-text{
  font-size: 18px;
  float: left;
  margin-top: 10px;
  color: #7d7d7d;
}
/* speaker-section */
.speaker-section{
  padding: 80px 0px;
  min-height: 600px;
  background-color: #f0f0f0;
}
.speaker-section .speaker-text{
  padding: 100px 0px 20px 0px;
}
.speaker-section p{
  font-size: 18px;
  color: #7d7d7d;
}
.gallery-img, .speaker-img{
  position: relative;
  margin: 20px 0px;
}
.speaker-img::before{
  position: absolute;
  content: 'Featured';
  top: 10px;
  right: 10px;
  background-color: #2293b6;
  color: #eefafe;
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
}

.gallery-img .img-text, .speaker-img .img-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0px 20px;
  bottom: 20px;
  width: 90%;
  left: 5%;
  height: 60px;
  background-color: #ffffff;
  z-index: 2;
}
.gallery-img .img-text{
  flex-wrap: wrap;
}
.gallery-img .img-text::before, .speaker-img .img-text::before{
  position: absolute;
  content: '';
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #2293b6;
  z-index: -1;
  transition: all .6s ease-out;
  }
.gallery-img:hover .img-text::before{
  width: 100%;
}
.speaker-img:hover .img-text::before{
  width: 100%;
}
.gallery-img:hover .img-text ,.speaker-img:hover .img-text{
  color: #ffffff;
}
.gallery-img .img-text .left-text p ,.speaker-img .img-text .left-text p{
  font-size: 16px;
}
.gallery-img:hover .img-text .left-text p,.speaker-img:hover .img-text .left-text p{
  color: #ffffff;
}
.speaker-img .img-text h3{
  margin-top: 10px;
  line-height: 10px;
}
.gallery-img .img-text h4{
  margin-top: 15px;
  line-height: 10px;
}
.gallery-img .img-text .social-icon, .speaker-img .img-text .social-icon{
  position: absolute;
  right: 8px;
  visibility: hidden;
  transition:  visibility 0s 0s ease;
}
.gallery-img .img-text .social-icon i, .speaker-img .img-text .social-icon i{
  margin: 5px;
  font-size: 22px;
}
.gallery-img .img-text .social-icon
.fa-facebook,.speaker-img .img-text .social-icon
.fa-facebook-messenger,.speaker-img .img-text .social-icon .fa-facebook,.gallery-img .img-text .social-icon .fa-facebook-messenger{
  margin: 5px;
  font-size: 22px;
}
.speaker-img .img-text .social-icon .fa-facebook{
  margin: 5px;
  font-size: 22px;
}
.gallery-img:hover .img-text .social-icon,.speaker-img:hover .img-text .social-icon{
  visibility: visible;
  transition:  visibility 0s .6s ease;
}
/* course-section */
.course-section{
  position: relative;
  padding: 50px 0px 30px 0px;
  background-color: #ffffff;
}
.course-section .left-bg img{
  position: absolute;
  top: -50px;
  left: 50px;
  z-index: -1;
}
.course-section .right-bg img{
  position: absolute;
  top: -50px;
  right: 50px;
  z-index: -1;
}
.course-section .top-text{
  text-align: center;
}
.course-section .top-text h1{
  text-align: center;
  color: #2293b6;
}
.course-section .top-text p{
  text-transform: uppercase;
  color: #d0d0d0;
  font-size: 14px;
  font-weight: bold;
}
 .course-section .top-text h2{
    line-height: 10px;
  }
  .course-section .nav{
    margin-top: 30px;
  }
  .course-section .nav-link{
    padding: 10px 30px;
    margin: 30px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    transition: .3s ease;
    border: 3px solid #d0d0d0;
    color: #d0d0d0;
    background-color: #ffffff !important;
    transition: all .2s ease;
  }
  .course-section .nav-link.active{
    outline: none;
    border-color: #2293b6;
    color: #2293b6;
    background-color: #ffffff;
  }
  .course-section .tab-pane .card{
    padding: 20px 10px;
    min-height: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #dddddd;
  }
  .course-section .tab-pane .card img{
    width: 100%;
    margin-bottom: 40px;
  }
  .course-section .tab-pane .card .right-text{
    padding: 0px 30px;
  }
  .course-section .tab-pane .card .right-text h5{
    font-weight: bold;
  }
  .course-section .tab-pane{
    margin-top: 20px;
    margin-left: 50px;
    padding: 0px 30px;
    transition: .6s ease;
  }

  .course-section .tab-pane.active{
    min-height: 400px;
    transition: all .2s ease;
    animation: animated .4s 0s linear;
  }
  @keyframes animated {
    0%{
      margin-left: 50px;
      opacity: 1;
    }
    80%{
      opacity: 0;
      margin-left: 60px;
    }
    100%{
      opacity: 1;
      margin-left: 50px;
    }
  }
/*  .accordion-progress  */
.accordion-progress{
  padding: 20px 0px 0px 0px;
  background-color: #ffffff;
  min-height: 300px;
}
.accordion-progress h2{
  color: #2293b6;
}
.accordion-part{
  margin-bottom: 80px;
}
.accorion-body{
  box-shadow: 0px 0px 2px 0px rgb(202, 202, 202);
  background-color: #f4fffa !important;
  padding: 5px 10px !important; 
}
.accordion-button{
font-size: 20px;
font-weight: 500;
border: 1px solid gainsboro;
color: #000000 !important;
background-color: #F5F5F5 !important;
}
.accordion-button:focus{
  box-shadow: none !important;
  border: 1px solid gainsboro;
}
.accordion-button:not(.collapsed){
  color: #2293b6 !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  transform: rotate(180deg);
}
.accordion-button:not(.collapsed):after{
  transform: rotate(360deg);
}
/* progress-part */
.progress-part{
  min-height: 350px;
}
.progress-part .content{
  padding: 0px 10% 40px 0;
}

.progress-part #skill-section{
  margin-top: 50px;
}
.progress-part #skill-section p{
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.progress-part #skill-section .item-1:before{
  position: absolute;
  content: '73%';
  right: 0;
}
.progress-part #skill-section .item-2:before{
  position: absolute;
  content: '90%';
  right: 0;
}
.progress-part #skill-section .item-3:before{
  position: absolute;
  content: '85%';
  right: 0;
}
.progress-part .progress{
  width: 100%;
  height: 12px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  border-radius: 10px;
  }
  .progress-part .progress-bar{
  position: relative;
  width: 10%;
  height: 100%;
  background-color: #2293b6;
  border-radius: 10px;
  transition: all 1.3s ease;
  } 
  /* .counter-part */
  .counter-part{
    position: relative;
    text-align: center;
    padding: 50px 0px;
    min-height: 300px;
    background-size: cover;
    background-color: #298eac;
  }

  .counter-part h1{
    color: #ffffff;
  }
  .counter-part .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    border: none;   
    border-radius: 10px;
    margin-bottom: 40px;
    color: #000000;
    box-shadow: 0px 0px 15px 2px #0f647e4e;
  }
  .counter-part .card p{
    font-size: 18px;
    font-weight: 700;
  }
  .counter-part .card .fa{
    font-size: 35px;
    color: #298eac;
  }   
  .counter-part a{
    color: #ff0000;
  }
  .contact-form{
    padding: 50px 0px;
    min-height: 500px;
    background-color: #f0f0f0;
  }
  .contact-form h1{
    color: #1789ac;
  }
  .contact-form .card{
      margin-top: 40px;
      border-radius: 15px;
      margin-bottom: 30px;
  }
  .contact-form .contact-card h5{
      font-weight: bold;
      color: #2293b6;
  }
  .contact-form .contact-card{
      padding: 30px 50px 30px 50px;
      background-color: #ffffff;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 0px 5px 0px #c2c2c2;
  }
  .contact-form .contact-card .link{
    margin-top: 30px;
    border: 2px solid #f0f0f0;
    color: #3a9cba;
    background-color: transparent;
    width: 150px;
  }
  .contact-form .contact-card .link:hover{
   background-color: #2293b6;
   color: #ffffff;
  }
  .contact-card form{
      margin-top: 40px;
  }
  .contact-form input{
      width: 100%;
      padding: 6px 12px;
      margin-bottom: 30px;
      border: none;
      outline: none;
      border-radius: 10px;
      background-color: #fcfcfc;
  }
  .contact-card textarea{
      background-color: #fcfcfc;
      padding: 20px 12px;
      border-radius: 10px;
      border: none;
      outline: none;
  }
  .contact-form .contact-info{
      margin-top: 40px;
      background-color: #ffffff;
      color: #000000;
      padding: 35px 40px 0px 40px;
  }
  .contact-form .contact-info span{
      font-size: 15px;
      font-weight: 500;
      color: #7d7d7d;   
  }
  .contact-form .contact-info a{
    color: #388ca5;
  }
  .contact-info h6{
      font-weight: bolder;
  }
  .contact-info ul li{
      display: inline-block;
      padding: 0px 3px 30px 3px;
      margin-bottom: 30px;
      border-bottom: 1px solid #c9c9c983;
  }
  .contact-info li:last-child{
      border-bottom: none;
      margin-bottom: 0;
  }
    /* .subscribe-part */
      .subscribe-part{
        padding: 50px 0px 20px 0px;
        text-align: center;
        min-height: 300px;
        background-color: #ffffff;
      }
      .subscribe-part h1{
        margin-bottom: 20px;
        text-align: center;
        color: #2c9bbd;
      }
      .subscribe-part input[type='email']{
        background-color: #ffffff;
        color: #000000;
        padding: 9px 20px;
        min-width: 350px;
        border: 1px solid #d0d0d0;
        outline: none;
        border-radius: 50px 0px 0px 50px;
      }
      .subscribe-part input[type='submit']{
        background-color: #2293b6;
        margin-left: -5px;
        color: #ffffff;
        border: none;
        padding: 10px 25px;
        border-radius: 0px 50px 50px 0px;
      }
      .subscribe-part p{
        padding: 20px 5%;
        color: #909090;
      }
    /* Footer */
    footer{
      padding: 30px 0px 0px 0px;
      min-height: 100px;
      background-color: #f0f0f0;
      display: flex;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    footer .social-icon ul{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 15px;
    }
    footer .social-icon ul li{
      margin: 0px 5px;
    }
    footer .social-icon ul li .fa-brands{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-size: 17px;
      border-radius: 50px;
      background-color: #ffffff;
      box-shadow: 0px 3px 5px 0px #0f647e;
      color: #2293b6;
      transition: .3s ease;
    }
    footer .social-icon ul li .fa-brands:hover{
      color: #ffffff;
      transform: translateY(-8px);
    }
    footer .social-icon ul li .fa-facebook-f:hover{
      background-color: #2c2cde;
    }
    footer .social-icon ul li .fa-twitter:hover{
      background-color: #47abf7;
    }
    footer .social-icon ul li .fa-github:hover{
      background-color: #e03f75;
    }
    footer .social-icon ul li .fa-instagram:hover{
      background-color: #f33071;
    }
    footer p{
      color: #6a6a6a;
    }
    footer a{
      color: #a2a2a2;
    }
    footer a:hover{
      color: #ffffff;
    }
    


  

